<!-- views/accountConfirmed.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/accountConfirmed.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Verification Complete</title>
</head>
<body>
    <div id="container-box">
        <h1>Account Verification Completed</h1>
        <h2>You can now log in to the website using your email and password.</h2>
    </div>
</body>
</html>