<!-- views/accountRecoveryError.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/accountRecoveryError.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Recovery Error</title>
</head>
<body>
    <div id="container-box">
        <h1>Account Recovery Error</h1>
        <h2>The recovery link is incorrect.</h2>
    </div>
</body>
</html>