<!-- views/alreadyRegistered.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/alreadyRegistered.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Incorrect</title>
</head>
<body>
    <div id="container-box">
        <h1>Given email was incorrect</h1>
        <h2>Given email was not registered or is confirmed already, please return and register or log in on the main website!</h2>
    </div>
</body>
</html>