<!-- views/confirmationEmailSent.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/confirmationEmailSent.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation Sent</title>
</head>
<body>
    <div id="container-box">
        <h1>The Verification Email was sent</h1>
        <h2>Please check your mailbox, and click on the link to activate your account and log in to the website again.</h2>
    </div>
</body>
</html>