<!-- views/createTournamentSuccess.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/createTournamentSuccess.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tournament created</title>
</head>
<body>
    <div id="container-box">
        <h1>Tournament Created Successfully</h1>
        <h2>You can now return to the main page and see your tournament details by clicking the button below.</h2>
        <button onclick="window.location.href='/'">Main Page</button>
    </div>
</body>
</html>