<!-- views/forgotPassword.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/forgotPassword.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
</head>
<body>
    <div id="container-box">
        <h1>Password Recovery</h1>
    </div>
    <form id="registration-form" method="post" action="/forgot-password-process-start" >
        <div id="container-box">
            <h2>Please insert an email address below, so that we can send you a link to recover your password.</h2>
            <input type="email" id="email" name="email" required>
        </div>
        <div id="container-box">
            <button id="submit" type="submit">Send Email</button>
        </div>
    </form>
</body>
</html>