<!-- views/forgotPasswordProcessSuccess.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/forgotPasswordProcessSuccess.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recovery Completed</title>
</head>
<body>
    <div id="container-box">
        <h1>Congratulations!</h1>
        <h2>You have successfully changed the password of your account. Click on the button below to log in using new details.</h2>
        <button  onclick="window.location.href = '/login'">Log in</button>
    </div>
</body>
</html>