<!-- views/forgotPasswordProcessIncorrectEmail.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/forgotPasswordProcessIncorrectEmail.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incorrect Email Provided</title>
</head>
<body>
    <div id="container-box">
        <h1>Account Recovery Error</h1>
        <h2>We apologize, but the email you have provided is incorrect. Perhaps you have never created an account with that email?</h2>
    </div>
</body>
</html>