<!-- views/loginAgain.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/loginAgain.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Again</title>
</head>
<body>
    <div id="container-box">
        <h1>Given details were incorrect</h1>
        <h2>You have given an incorrect password or email. Please try again by clicking the button below.</h2>
        <button  onclick="window.location.href = '/login'">Try again</button>
    </div>
</body>
</html>