<!-- views/participationFailure.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/participationFailure.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Participation Failure</title>
</head>
<body>
    <div id="container-box">
        <h1>Error while trying to participate</h1>
        <h2>An error occured while trying to add you to the tournament. Perhaps you are already signed to the tournament, tournament has reached maximal number of contestants, or you have provided a license number and ranking of another user. You can return to the main site and try again by clicking the button below.</h2>
        <button onclick="window.location.href='/'">Main Page</button>
    </div>
</body>
</html>