<!-- views/register.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/register.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <div id="header-container">
        <h1>Register</h1>
    </div>
    <form id="registration-form" method="post" action="/registration_start" >
        <div id="container-box">
            <h2 for="name">Name:</h2>
            <input type="text" id="name" name="name" required>    
        </div>
        <div id="container-box">
            <h2 for="surname">Surname:</h2>
            <input type="text" id="surname" name="surname" required>
        </div>
        <div id="container-box">
            <h2 for="email">E-mail:</h2>
            <input type="email" id="email" name="email" required>
        </div>
        <div id="container-box">
            <h2 for="password">Password:</h2>
            <input type="password" id="password" name="password" required>
        </div>
        <div id="container-box">
            <button id="submit" type="submit">Create Account</button>
        </div>
    </form>
</body>
</html>
