<!-- views/userTournamentsError.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/userTournamentsError.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result Submission Failure</title>
</head>
<body>
    <div id="container-box">
        <h1>Results not submitted</h1>
        <h2>You have submitted results different to your opponent, or an error has occured. Please try again later on the tournament site.</h2>
        <button onclick="window.location.href='/'">Main Page</button>
    </div>
</body>
</html>