<!-- views/submitResultsSuccess.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/submitResultsSuccess.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results Submitted</title>
</head>
<body>
    <div id="container-box">
        <h1>Result Submission Successful</h1>
        <h2>Your results were added, please wait for the second player to confirm your results. If the second player submits different results, then you will be asked to insert the results again!</h2>
        <button onclick="window.location.href='/'">Main Page</button>
    </div>
</body>
</html>