<!-- views/userTournamentsError.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/userTournamentsError.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Tournaments Error</title>
</head>
<body>
    <div id="container-box">
        <h1>Error while trying to see your tournaments</h1>
        <h2>An error occured while trying to look up the tournaments which you are a part of. Perhaps you have not participated in any?</h2>
        <button onclick="window.location.href='/'">Main Page</button>
    </div>
</body>
</html>