* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%; /* Занимает всю доступную ширину экрана */
  min-width: 320px; /* Минимальная ширина контейнера для удобства отображения на маленьких экранах */
  max-width: 1200px; /* Максимальная ширина контейнера для контроля ширины на больших экранах */
  margin: 0 auto; /* Центрирует контейнер на странице */
  padding: 20px; /* Добавляет отступы вокруг содержимого */
}
